* { margin: 0 }

.message {
  display: inline-block;
  border: 1px solid #b9b9b9;
  background-color: #fafafa;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.own-message {
  float: right;
}

.clearfix {
  clear: both;
}
