<form>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" name="title" [(ngModel)]="title">
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Description</mat-label>
    <input matInput placeholder="Description" name="description" [(ngModel)]="description">
  </mat-form-field>
  <mat-form-field *ngIf="advertisement?.type !== 'BID'" appearance="fill" class="w-100">
    <mat-label>Price</mat-label>
    <input matInput placeholder="Price" name="price" [(ngModel)]="price">
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="categoryId" name="categoryId">
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="advertisement?.id" appearance="fill" class="w-100">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="status" name="status">
      <mat-option *ngFor="let status of allStatuses" [value]="status">
        {{ status }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="!advertisement?.id" appearance="fill" class="w-100">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="advertisementType" name="type">
      <mat-option *ngFor="let type of allTypes" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="!advertisement?.id && advertisementType === 'BID'" appearance="fill" class="w-100">
    <mat-label>Expiration</mat-label>
    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Expiration" [(ngModel)]="expiration" name="expiration">
    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker color="primary"></ngx-mat-datetime-picker>
  </mat-form-field>
  <div class="text-end">
    <button mat-button (click)="onNext()">Next</button>
  </div>
</form>
