<div class="m-05">
  <form (ngSubmit)="onLogin()">
    <div class="hint m-05" *ngIf="showHint">
      We sent an activation email to your address.<br>
      Click the activation link to activate your account, then you can log in.
    </div>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" name="username" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="password">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
    <button mat-raised-button type="button" class="ms-3" (click)="onResetPassword()">Reset password</button>
  </form>
</div>
