/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w-100 {
  width: 100%;
}

.ml-05 {
  margin-left: 0.5rem;
}

.m-05 {
  margin: 0.5rem;
}
