<div class="d-flex mt-3">
  <app-search class="mx-auto search"></app-search>
</div>
<div>
  <h1>Newest ads</h1>
  <div *ngFor="let group of advertisementGroups" class="category mb-3 p-2">
    <h1><a [routerLink]="'/category' + group.category.id" class="unformatted-link">{{ group.category.name }}</a></h1>
    <div class="d-flex new-ads">
      <app-advertisement-card *ngFor="let advertisement of group.advertisements" class="me-3" [advertisement]="advertisement"></app-advertisement-card>
    </div>
  </div>
</div>
