<div *ngIf="categoryId">
  <h1 class="category d-inline"><a routerLink="/" class="unformatted-link">Home</a></h1>
  <h1 class="category d-inline" *ngFor="let cat of category"> ⮞ <a [routerLink]="'/category/' + cat.id" class="unformatted-link">{{ cat.name }}</a></h1>
</div>
<div class="d-flex mt-3">
  <app-search class="mx-auto search" (searchEvent)="search($event)" [term]="searchTerm"></app-search>
</div>
<h2 *ngIf="searchTerm">Results for "{{ searchTerm }}"</h2>
<h3 *ngIf="searchTerm && advertisements?.length === 0" class="text-center">No results for "{{ searchTerm }}"</h3>
<h3 *ngIf="!searchTerm && advertisements?.length === 0" class="text-center">This category is empty</h3>
<app-advertisement-list-item *ngFor="let advertisement of advertisements" [advertisement]="advertisement"></app-advertisement-list-item>
