<mat-card class="mb-2">
  <mat-card-content>
    <div class="d-flex">
      <div class="me-2 thumbnail">
        <img class="img-fluid" src="https://dummyimage.com/400x400/aaa/fff" alt="placeholder">
      </div>
      <div class="details">
        <h2><a [routerLink]="'/advertisement/' + advertisement?.id" class="unformatted-link">{{ advertisement?.title }}</a></h2>
        <p class="description">{{ advertisement?.description }}</p>
        <p>{{ advertisement?.price | currency: 'HUF' }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
