.thumbnail {
  width: 6rem;
  height: 6rem;
}

p {
  margin: 0;
}

.details {
  width: 14rem;
}

.description {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2rem;
  line-height: 1rem;
}
