$thumbnail-size: 6rem;

.thumbnail {
  width: $thumbnail-size;
  height: $thumbnail-size;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  background-color: #f5f5f5;

  img {
    object-fit: cover;
    width: $thumbnail-size;
    height: $thumbnail-size;
  }
}

p {
  margin: 0;
}

.details {
  width: 14rem;
}

.single-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
