<div class="mb-3">
  <p class="category d-inline"><a routerLink="/" class="unformatted-link">Home</a></p>
  <p class="category d-inline" *ngFor="let cat of category"> ⮞ <a [routerLink]="'/category/' + cat.id" class="unformatted-link">{{ cat.name }}</a></p>
</div>
<div class="d-flex flex-wrap">
  <div class="images me-3">
    <app-gallery *ngIf="imageUrls" [imageUrls]="imageUrls"></app-gallery>
  </div>
  <div *ngIf="advertisement" class="flex-grow-1">
    <div class="d-flex justify-content-between">
      <h1>{{ advertisement.title }}</h1>
      <div>
        <a *ngIf="advertisement.advertiserId === userId" mat-icon-button [routerLink]="'/advertisement/edit/' + advertisement.id" class="edit-icon">
          <mat-icon>edit</mat-icon>
        </a>
        <button *ngIf="admin || advertiser?.id === advertisement.advertiserId" mat-icon-button (click)="onDelete()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <p class="date">Published: {{ advertisement.createdAt | localeDateTime }}</p>
    <div>
      <mat-chip>{{ advertisement.status }}</mat-chip>
    </div>
    <p>{{ advertisement.description }}</p>
    <h2>{{ advertisement.price | currency: 'HUF' : 'symbol' }}</h2>
    <p>Advertiser: {{ advertiser?.username }}</p>
  </div>
</div>
<div class="pt-3">
  <app-comment-section *ngIf="advertisement" [advertisementId]="advertisement.id"></app-comment-section>
</div>
