<div class="mb-3">
  <p class="category d-inline"><a routerLink="/" class="unformatted-link">Home</a></p>
  <p class="category d-inline" *ngFor="let cat of category"> ⮞ <a [routerLink]="'/category/' + cat.id" class="unformatted-link">{{ cat.name }}</a></p>
</div>
<div class="d-flex flex-wrap">
  <div class="images me-3">
    <app-gallery *ngIf="imageUrls" [imageUrls]="imageUrls"></app-gallery>
  </div>
  <div *ngIf="advertisement" class="flex-grow-1">
    <div class="d-flex justify-content-between">
      <h1>{{ advertisement.title }}</h1>
      <div>
        <a *ngIf="advertisement.advertiserId === userId" mat-icon-button [routerLink]="'/advertisement/edit/' + advertisement.id" class="edit-icon">
          <mat-icon>edit</mat-icon>
        </a>
        <button *ngIf="admin || userId === advertisement.advertiserId" mat-icon-button (click)="onDelete()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <p class="date">Published: {{ advertisement.createdAt | localeDateTime }}</p>
    <div class="mb-3">
      <mat-chip>{{ advertisement.status }}</mat-chip>
    </div>
    <p *ngIf="advertisement.expiration" class="date">Expire at: {{ advertisement.expiration | localeDateTime }}</p>
    <p>{{ advertisement.description }}</p>
    <div class="d-flex align-items-center">
      <h2 class="price">{{ advertisement.price | currency: 'HUF' : 'symbol' }}</h2>
      <div *ngIf="userId && userId !== advertisement.advertiserId && advertisement.type === 'BID'" class="ms-3">
        <form (ngSubmit)="submitBid()">
          <mat-form-field>
            <mat-label>Bid</mat-label>
            <input matInput type="number" [(ngModel)]="bid" name="bid">
            <button matSuffix mat-icon-button aria-label="Bid">
              <mat-icon>done</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
    </div>
    <p>Advertiser: {{ advertiser?.username }}</p>
    <a *ngIf="userId && advertisement.advertiserId !== userId" [routerLink]="'/chat/advertisement/' + advertisement.id" mat-raised-button color="primary">Buy now</a>
  </div>
</div>
<div *ngIf="commercialPrice?.title" class="mt-3">
  <h2>Commercial price information:</h2>
  <app-commercial-price [product]="commercialPrice" [advertisementPrice]="advertisement?.price"></app-commercial-price>
</div>
<div class="pt-3">
  <app-comment-section *ngIf="advertisement" [advertisementId]="advertisement.id"></app-comment-section>
</div>
