<mat-stepper #stepper>
  <mat-step label="Advertisement details">
    <app-edit-advertisement *ngIf="advertisement" [advertisement]="advertisement" [categories]="categories" [newAdvertisement]="newAdvertisement" (next)="imageUpload(stepper, $event)"></app-edit-advertisement>
  </mat-step>
  <mat-step label="Upload images">
    <app-image-upload [files]="files" [images]="images" [imagesToDelete]="imagesToDelete" (next)="save(stepper, $event)" (back)="editDetails(stepper, $event)"></app-image-upload>
  </mat-step>
  <mat-step label="Done">
    <p *ngIf="advertisement?.id">You are now done. <a [routerLink]="'/advertisement/' + advertisement!.id">Click here to see your advertisement.</a></p>
  </mat-step>
</mat-stepper>
