.product-image-container {
  border: 1px solid #cfcfcf;
  border-radius: 3px;
}

.product-image {
  height: 18rem;
}

.no-images {
  margin-top: 8rem;
}

.image-list {
  overflow-x: auto;
}

.mini-image {
  max-width: 7.5rem;
  height: 4rem;
  margin: 0.5rem 0.25rem;
}
